@{
    ViewBag.Title = "User Suggestions";
}

@model IEnumerable<BestRestaurants.Models.Restaurant>


<div>
    <table class="table">
        <thead>
            <th>User</th><th>Restaurant Name</th><th>Favorite Dish</th><th>Restaurant Phone</th>
        </thead>
        <tbody>
            @foreach (Restaurant r in Model)
            {
                <tr>
                    <td>@r.UserName</td>
                    <td>@r.RestaurantName</td>
                    <td>@r.FavDish</td>
                    <td>@r.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>